// $
//.q-tree.s-navigation {
//  &.q-tree--dense .q-item,
//  .q-item--dense {
//    margin-left: -1rem;
//    padding-right: 0.5rem;
//
//  }
//
//  &.q-tree--dense {
//    .q-tree__children {
//      padding-left: 1rem;
//    }
//
//    .q-tree__arrow, .q-tree__spinner {
//      order: 10000;
//      opacity: 0.25;
//
//      &:hover, &.q-tree__arrow--rotate {
//        opacity: 1;
//        transition: opacity linear 0.2s;
//      }
//    }
//
//    .q-tree__node-header {
//      > .q-tree__node-header-content {
//        flex-grow: 0;
//        flex-basis: auto;
//      }
//    }
//
//    .q-tree__node--child {
//      .q-tree__node-header {
//        > .q-tree__node-header-content {
//          flex-grow: 1;
//        }
//
//      }
//    }
//  }
//
//  .q-item__section--side {
//    padding-right: 8px;
//  }
//
//  a:any-link, a:link, a:visited {
//    text-decoration: none !important;
//  }
//
//  .q-tree__node-header {
//    > .q-tree__node-header-content {
//      white-space: nowrap;
//    }
//  }
//
//}

.q-avatar.operation-badge {
  width: auto;
  min-width: 1em;
  height: 0.75em;
  padding: 0 0.2em;
  border-radius: 0.125em;
  text-transform: uppercase;

  > .q-avatar__content {
    font-size: 0.4375em;
    line-height: normal;
    font-weight: 800;
  }
}

.overflow-hidden-x {
  overflow-x: hidden !important;
}

.s-table-parameters {
  thead {
    th {
      text-align: left;
    }
  }
}
