// $


.q-tree.jv-code {
  .q-tree__children {
    padding-left: 0.75rem;
    padding-top: 0.5rem;

    > div:last-of-type {
      margin-left: -1rem;

      .q-tree__node-header {
        &:before {
          left: 0.25rem;
          width: 0.25rem;
        }
      }
    }
  }

  .q-tree__node {
    line-height: 1;
    padding-left: 0.5rem;
    padding-bottom: 0.125rem;

    &:after {
      left: -0.3rem;
      bottom: -0.625rem;

      border: none;
      width: 1px;

      background-image: linear-gradient(to bottom, currentColor 50%, transparent 0%);
      background-size: 1px 2px;
      background-position: top left;
      background-repeat: repeat-y;
    }

    &-header {
      padding: 0 0 0 1rem;
      margin-top: 0;

      &:before {
        width: 1.5rem;
        height: 1px;

        left: -0.75rem;
        bottom: unset;
        top: calc(.625rem - 1px);

        border: none;

        background-image: linear-gradient(to right, currentColor 50%, transparent 0%);
        background-size: 2px 1px;
        background-position: top left;
        background-repeat: repeat-x;
      }
    }

    &--parent {
      //padding-left: 0.25rem;
      padding-left: 0.25rem;

      > .q-tree__node-header {
        padding: 0;

        &:before {
          left: -0.45rem;
          width: 0.3rem;
        }
      }
    }
  }
}
