// $


.q-tree.jv-code {
  .q-tree__children {
    padding-left: 0.75rem;
    padding-top: 0;

    //> div:last-of-type {
    //  margin-left: -1rem;
    //
    //  .q-tree__node-header {
    //    &:before {
    //      left: 0.25rem;
    //      width: 0.25rem;
    //    }
    //  }
    //}
  }

  .q-tree__node {
    line-height: 1;
    padding-left: 0.5rem;
    padding-bottom: 0.125rem;

    &:after {
      left: -0.3rem;
      bottom: -0.625rem;

      border: none;
      width: 1px;

      background-image: linear-gradient(to bottom, currentColor 50%, transparent 0%);
      background-size: 1px 2px;
      background-position: top left;
      background-repeat: repeat-y;
    }

    &-header {
      padding: 0 0 0 1rem;
      margin-top: 0;

      &:before {
        width: 1.5rem;
        height: 1px;

        left: -0.75rem;
        bottom: unset;
        top: calc(.625rem - 1px);

        border: none;

        background-image: linear-gradient(to right, currentColor 50%, transparent 0%);
        background-size: 2px 1px;
        background-position: top left;
        background-repeat: repeat-x;
      }
    }

    &--parent {
      //padding-left: 0.25rem;
      padding-left: 0.25rem;

      > .q-tree__node-header {
        padding: 0;

        &:before {
          left: -0.45rem;
          width: 0.3rem;
        }
      }
    }


    &.jv-array, &.jv-object {
      > .q-tree__node-header
      > .q-tree__node-header-content
      > .jv-node {
        display: inline-block;
        min-height: 1.25rem;

        &::after {
          display: block;
          position: absolute;
          left: calc(100% + 0.25rem);
          line-height: 1rem;
          bottom: 0.125rem;
        }
      }

      > .q-tree__node-collapsible
      > .q-tree__children {
        padding-bottom: 1rem;

        &::after {
          display: block;
          position: absolute;
          bottom: 0.375rem;
          left: 0.625rem;
        }
      }
    }

    .jv-string {
      word-wrap: normal;
      white-space: normal;
    }

    &.jv-array {
      > .q-tree__node-header
      > .q-tree__node-header-content
      > .jv-node::after {
        content: '[..]';
        color: var(--jv-item-array);
      }

      > .q-tree__node-collapsible
      > .q-tree__children::after {
        opacity: 0;
      }
    }

    &.jv-object {
      > .q-tree__node-header
      > .q-tree__node-header-content
      > .jv-node::after {
        content: '{..}';
        color: var(--jv-item-object);
      }

      > .q-tree__node-collapsible
      > .q-tree__children::after {
        opacity: 0;
      }
    }

    &--expanded {
      &.jv-array {
        > .q-tree__node-header
        > .q-tree__node-header-content
        > .jv-node::after {
          content: '[';
          color: var(--jv-item-array);
        }

        > .q-tree__node-collapsible
        > .q-tree__children::after {
          content: ']';
          color: var(--jv-item-array);
          opacity: 1;
        }
      }

      &.jv-object {
        > .q-tree__node-header
        > .q-tree__node-header-content
        > .jv-node::after {
          content: '{';
          color: var(--jv-item-object);
        }

        > .q-tree__node-collapsible
        > .q-tree__children::after {
          content: '}';
          color: var(--jv-item-object);
          opacity: 1;
        }
      }
    }
  }
}
